/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Root Settings - changed color of theme
-----------------------------------------------------------------*/
:root {
    --themecolor:  #D7D4C8 !important;
    --themecolorrgb: 198,192,156;
    --header-height: 70px;
}
textarea{
    resize:none !important;
}
blockquote{
    border-color: #48555F !important;
}
.parallax-quote{
    border-color:  #D7D4C8 !important;
}

.dark #footer, #footer.dark {
    color: rgba(255,255,255,0.75);
    background-color: #48555F !important;
    border-top-color: rgba(255,255,255,0.15);
}
.btn-erdem{
    background-color: #D7D4C8 !important;
    border: 2px solid #D7D4C8 !important;
}
.btn-erdem:hover{
    background-color: #48555F !important;
    border: 2px solid #D7D4C8 !important;
    color: #D7D4C8 !important;
}
#header-wrap{
    padding-bottom:10px;
}
.top-space{
    padding-top: 10px;
}
.subtitle, .subtitle a {
    color: #48555F !important;
}
.space{
    margin-top:50px !important;
}
.btn-erdem{
    background-color: #C6C09C;
}
.IBE-bg{
    background-color: #D7D4C8 !important;
    color: #fff!important;
}