/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

/* Root Settings - changed color of theme
-----------------------------------------------------------------*/
:root {
    --themecolor:  #D7D4C8 !important;
    --themecolorrgb: 198,192,156;
    --header-height: 70px;
}
textarea{
    resize:none !important;
}
blockquote{
    border-color: #48555F !important;
}